
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #d4d8b0; /* Kaki clair */
  color: #222;
  min-height: 100vh;
}

header {
  background-color: #7d8451;
  padding: 1.5em;
  text-align: center;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 2.5em;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
  max-width: 900px;
  margin: auto;
}

footer {
  background-color: #7d8451;
  text-align: center;
  color: white;
  padding: 1em;
  margin-top: 2em;
}

h2 {
  color: #4b4f2d;
  text-align: center;
}

ul {
  list-style-type: square;
  padding-left: 1.5em;
}

ul li {
  padding: 10px;
  background-color: #f3f4dd;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #4b4f2d;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.tel {
  font-size: 1.3em;
  font-weight: bold;
  color: #4b4f2d;
  text-align: center;
}
